<mat-card>
	<mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
		Game State's Stats
		<!-- <p>Current Score: {{ (state | async)?.userData.currentScore }}</p>
		<p>mistakes: {{ (state | async)?.userData?.mistakes }}</p>
		<p>Lifebuoys: {{ (state | async)?.userData?.lifeBuoys }}</p> -->
	</mat-card-header>
	<mat-card-content>
		<mat-horizontal-stepper labelPosition="bottom" linear>
			<!-- todo: disable navigating to next question on stepper click  -->
			<mat-step
				*ngFor="let question of questions | async; let i = index"
				[editable]="false"
			>
				<mat-card-title>
					Q:{{ i + 1 }}
					<span>{{ question.question }}</span>
				</mat-card-title>
				<!-- todo: remove the logic of *ngFor to tsFile -->
				<mat-card
					*ngFor="
						let answer of question.incorrect_answers
							.concat(question.correct_answer)
							.sort()
					"
					(click)="answerSelected(answer)"
				>
					<!-- todo: sanatize html so the answer can contain escape chars -->
					<mat-card-title [innerHTML]="answer"></mat-card-title>
				</mat-card>
				<button
					mat-button
					color="primary"
					*ngIf="!questionAnswered"
					(click)="answerQuestion(question, question.correct_answer)"
					[disabled]="!selectedAnswer"
				>
					OK
				</button>
				<button
					(click)="skipClicked(question)"
					*ngIf="!questionAnswered && (state | async)?.userData?.lifeBuoys > 0"
					mat-button
					color="accent"
					matStepperNext
				>
					Lifebuoys(Skip)
				</button>
				<button
					(click)="nextQuestion()"
					*ngIf="questionAnswered"
					mat-button
					color="primary"
					matStepperNext
				>
					continue
				</button>
			</mat-step>
		</mat-horizontal-stepper>
	</mat-card-content>
</mat-card>
